{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
</head>
<body>
{% block content %}

<div class="p-3">
  <h2>Profile</h2>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Joined on: {{ user.date_joined }}</p>
  <p>Last login: {{ user.last_login }}</p>

  <a href="{% url 'logout' %}">Logout</a>
  
  <br><br>
  <h2>Reviews</h2>
  <ul>
      {% for review in template_data.reviews %}
        <li class="review-item mb-3">
          <div class="review-header d-flex justify-content-between align-items-center">
              <div>
                  <strong>{{ review.movie.name }}</strong>
              </div>
              <div class="text-muted ml-3">
                  <strong>Rating:</strong> {{ review.rating }} / 5
              </div>
              <span class="text-muted ml-3">{{ review.created_at|date:"F j, Y, g:i a" }}</span>
          </div>
          <div class="review-text mt-2">
              <p>{{ review.text }}</p>
          </div>
        </li>
      {% empty %}
          <li>No reviews yet.</li>
      {% endfor %}
  </ul>
</div>

{% endblock %}

</body>
</html>