body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f8f9fa; /* Set background color to light gray */
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; /* Set background color to light gray */
}

.ms-footer {
    margin-top: auto;
    background-color: #343a40; /* Set background color to dark gray */
    width: 100%;
}

.ms-footer p {
    color: #ffffff;
    font-size: 13px;
}

.ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
}

.ms-footer-bottom span {
    font-size: 13px;
    line-height: 38px;
}

.ms-footer-bottom a {
    color: #6ab43e;
    text-decoration: none;
}

.ms-footer-bottom a:hover {
    color: #fff;
}

.bg-index {
    background: url('../img/background.jpg') no-repeat fixed;
    background-size: cover;
    background-position: 50% 100%;
}

.masthead h2, .masthead p {
    color: #ffffff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.navbar a.nav-link {
    color: #fff !important;
}

.bg-dark {
    background-color: #343a40 !important; /* Set background color to dark gray */
}

