{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>{{ template_data.movie.name }}</h2>
        <hr />
        <p><b>Description:</b> {{ template_data.movie.description }}</p>
        <p><b>Price:</b> ${{ template_data.movie.price }}</p>
      </div>
{##}
{#        <p class="card-text">#}
{#            <form method="post"#}
{#                  action="{% url 'cart.add' id=template_data.movie.id %}">#}
{#                  <div class="row">#}
{#                      {% csrf_token %}#}
{#                      <div class="col-auto">#}
{#                          <div class="input-group col-auto">#}
{#                              div class="input-group-text">Quantity#}
{#                                </div>#}
{#                          <input type="number" min="1" max="10"#}
{#                                 class="form-control quantity-input"#}
{#                                 name="quantity" value="1">#}
{#                          </div>#}
{#                      </div>#}
{#                      <div class="col-auto">#}
{#                         <button class="btn bg-dark text-white"#}
{#                              type="submit">Add to cart</button>#}
{#                  </div>#}
{#            </form>#}
{#        </p>#}

      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{{ template_data.movie.image.url }}" alt="Movie Image" width="150" height="200" class="card-img-top rounded">
      </div>
    </div>

    <h2>Reviews</h2>
    <ul>
        {% for review in template_data.reviews %}
          <li class="review-item mb-3">
            <div class="review-header d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ review.user.username }}</strong>
                </div>
                <div class="text-muted ml-3">
                    <strong>Rating:</strong> {{ review.rating }} / 5
                </div>
                <span class="text-muted ml-3">{{ review.created_at|date:"F j, Y, g:i a" }}</span>
            </div>
            <div class="review-text mt-2">
                <p>{{ review.text }}</p>
            </div>
              <div class="text-center">
                    {% if user == review.user %}
                        <a class="btn btn-primary"
                           href="{%  url 'movies.edit_review' review_id=review.id %}">Edit
                        </a>

                        <a class="btn btn-danger"
                           href="{% url 'movies.delete_review' review_id=review.id %}">Delete
                        </a>

                    {% endif %}
              </div>

          </li>
        {% empty %}
            <li>No reviews yet.</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card shadow p-3 mb-4 rounded">
                    <div class="card-body">
                        <b class="text-start">Create a review</b><br /><br />
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}  
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Add Review</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>You must be logged in to leave a review.</p>
    {% endif %}
  </div>
</div>

{% endblock content %}
